<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de cancan !</h1>
    <br>
    <p>Bienvenu à toi ! Voici la liste des potins.</p>
    <a href="/gossips/new/">Créer un nouveau potin</a>
    <br>
    <% gossips.each_with_index do |gossip, id| %>
        <p>
          <%= gossip.author %>
          <br/>
          <%= gossip.content.split[0..1].join(' ') %>
          <a href="/gossips/<%= id+1 %>">...</a>
        </p>
    <% end %>
  </body>
</html>