<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <hr>
    <p>Bienvenu à toi ! La liste des potins arrive bientôt.</p>
    <a href="/gossips/new/">Créer un nouveau potin</a>
  </body>
</html>